@import url(fonts.css);
.header {
  background-color: #36baa2;
  color: #ffffff;
  font-family: SchemeRg;
  font-size: 14px;
  font-weight: 400;
  height: 40px; }
  .header .img-style {
    padding-right: 11px; }
  .header .text-style {
    padding-right: 25px; }

.slider-title {
  font-family: SchemeRg;
  color: #ffc10e;
  font-size: 3.06px;
  font-weight: 700;
  line-height: 3.278px;
  transform: scale(9.152, 9.152); }

.slider-text {
  font-family: SchemeBk;
  color: #787878;
  font-size: 17.68px;
  font-weight: 400;
  line-height: 29.733px;
  transform: scale(1.244, 1.244); }

.content-block {
  padding: 33px 56px 36px 67px;
  background-color: #f8f8f8;
  margin-bottom: 29px; }

.title-block {
  color: #ffc10e;
  font-family: SchemeRg;
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0 43px; }

.persone-name {
  color: rgba(120, 120, 120, 0.9);
  font-family: SchemeRg;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 34px; }

.persone-description {
  color: #787878;
  font-family: SchemeBk;
  font-size: 22px;
  font-weight: 400;
  line-height: 37px; }

.persone-contact {
  color: #787878;
  font-family: SchemeBk;
  font-size: 22px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  padding-top: 30px; }
  .persone-contact a {
    color: #787878; }
    .persone-contact a:hover {
      color: #ffc10e;
      text-decoration: none; }

.persone-title {
  font-family: SchemeBk;
  font-size: 22px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  padding-top: 30px; }
  .persone-title a {
    color: #787878; }
    .persone-title a:hover {
      color: #ffc10e; }

.content-block-loader {
  padding-top: 20px;
  text-align: center; }

.loader-text {
  color: #787878;
  font-family: SchemeBk;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 14px; }

.footer {
  background-color: #e2e2e2;
  padding: 36px 0 33px 0; }

.footer-text {
  font-family: SchemeBk;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #858585;
  padding-bottom: 6px; }
  .footer-text:hover {
    color: #858585;
    text-decoration: none !important; }

.footer-title {
  color: #858585;
  font-family: SchemeRg;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px; }

.footer-soc {
  padding-right: 8px; }

.footer-bottom {
  color: #858585;
  font-family: SchemeLt;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; }
  .footer-bottom a {
    color: #36baa2;
    text-decoration: underline; }
  .footer-bottom a:hover {
    color: red; }
