// Scss Document
@import 'fonts.css';

@mixin SchemeRg-46 {
	font-family: SchemeRg;
 	//font-size: 5.03px;
 	font-size: 46px;
	font-weight: 400;
	//line-height: 14.693px;
	//transform: scale(9.152,9.152);
}
@mixin SchemeRg-28 {
	font-family: SchemeRg;
	//font-size: 3.06px;
	font-size: 28px;
	font-weight: 700;
	//line-height: 3.278px;
	line-height: 30px;
	//transform: scale(9.152,9.152);
}
@mixin SchemeRg-26 {
	font-family: SchemeRg;
	//font-size: 5.95px;
	font-size: 26px;
	font-weight: 700;
	//line-height: 5.946px;
	line-height: 26px;
	//transform: scale(4.373,4.373);
}
@mixin SchemeRg-16 {
	font-family: SchemeRg;
	//font-size: 3.06px;
	font-size: 3.06px;
	font-weight: 700;
	//line-height: 3.278px;
	//transform: scale(9.152,9.152);
}
@mixin SchemeRg-16 {
	font-family: SchemeRg;	
	//font-size: 3.66px;
	font-size: 16px;
	font-weight: 700;
	//line-height: 6.174px;
	line-height: 27px;
	//transform: scale(4.373,4.373);
}
@mixin SchemeRg-14 {
	font-family: SchemeRg;
	//font-size: 15.57px;
	font-size: 14px;
	font-weight: 400;
	//line-height: 16.013px;
	//transform: scale(0.899,0.899);
}
@mixin SchemeBk-22 {
	font-family: SchemeBk;
	font-size: 22px;
	font-weight: 400;
	line-height: 37px;
}
@mixin SchemeBk-18 {
	font-family: SchemeBk;
	//font-size: 11.83px;
	font-size: 18px;
	font-weight: 400;
	//transform: scale(1.535,1.522);
}
@mixin SchemeBk-12 {
	font-family: SchemeBk;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}
@mixin SchemeBk-1768 {
	font-family: SchemeBk;
	font-size: 17.68px;
	font-weight: 400;
}
@mixin SchemeLt-20 {
	font-family: SchemeLt;
	font-size: 20px;
	font-weight: 400;
}
@mixin SchemeLt-12 {
	font-family: SchemeLt;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}
//header
.top-menu {
	background-color: #36baa2;
	color: #ffffff;
	@include SchemeRg-14;
	height: 40px;
	.img-style {
		padding-right: 11px; 
	}
	.text-style {
		padding-right: 25px;
	}
}
.main-menu {
	background-image: url("/images/header_shape.png");
	background-position: center center;
	height: 135px;
}
.main-menu-link {
	@include SchemeRg-16;
	color: #000000 !important;
	text-transform: uppercase;
	//padding: 0 26px !important;
	&:hover {
		color: #36baa2 !important;
	}
}
//slider
.slider-title {
	@include SchemeRg-28;
	color: #ffc10e;
	padding-bottom: 30px;
}
.slider-text {
	@include SchemeBk-22;
	color: #787878;
}
.slider-control {
	padding: 30px 0 54px;
	height: 60px;
}
.carousel-control-prev, .carousel-control-next{
	width: 70% !important;
}
.carousel-control-prev-icon {
	background-image: url("/images/slider/icon_left.png");
	height: 60px;
	width: 60px;
	&:hover {
		background-image: url("/images/slider/icon_left_hover.png");
		height: 60px;
		width: 60px;
	}
}
.carousel-control-next-icon {
	background-image: url("/images/slider/icon_right.png");
	height: 60px;
	width: 60px;
	&:hover {
		background-image: url("/images/slider/icon_right_hover.png");
		height: 60px;
		width: 60px;
	}
}
//main
.content-block {
	padding: 33px 56px 36px 67px;
	background-color: #f8f8f8;
	margin-bottom: 29px;
}
.title-block {
	@include SchemeRg-46;	
	color: #ffc10e;
	text-transform: uppercase;
	text-align: center;
	padding: 100px 0 43px;
}
.persone-name {
	@include SchemeRg-26;
	color: rgba(120, 120, 120, 0.9);
	padding-bottom: 34px;
}
.persone-description {
	@include SchemeBk-22;
	color: #787878;
}
.persone-contact {
	@include SchemeBk-22;
	color: #787878;
	text-align: center;
	padding-top: 30px;
	a {
		color: #787878;
		&:hover {
			color: #ffc10e;
			text-decoration: none;
		}
	}
}
.persone-title {
	@include SchemeBk-22;
	text-align: center;
	padding-top: 30px;
	a {
		color: #787878;
		&:hover {
			color: #ffc10e;
		}
	}
}
.content-block-loader {
	padding-top: 20px;
	text-align: center;
}
.loader-text {
	@include SchemeBk-18;
	color: #787878;
	text-transform: uppercase;
	padding-top: 14px;
}
//footer
.footer {
	background-color: #e2e2e2;
	padding: 36px 0 33px 0;
}
.footer-text {
	@include SchemeBk-12;
	color: #858585;
	padding-bottom: 6px;
	&:hover {
		color: #858585;
		text-decoration: none !important;
	}
}
.footer-title {
	@include SchemeRg-16;
	color: #858585;
}
.footer-soc {
	padding-right: 8px;
}
.footer-bottom {
	@include SchemeLt-12;
	color: #858585;
	a {
		color: #36baa2;
		text-decoration: underline;
	}
	a:hover {
		color: red;
	}
}
@media screen and (max-width: 768px) {
	.main-menu {
		background-image: none;
		height: auto;
	}
	.title-block {
		font-size: 32px;
		padding: 20px 0 20px;
	}
	.content-block {
		padding: 20px 0;
	}
	.persone-contact {
		padding-bottom: 20px;
	}
	.persone-title{
		padding-bottom: 15px;
	}
	.footer {
		padding-bottom: 0;
	}
	.footer-bottom {
		padding-top: 15px;
	}
}